footer {
    background-color: $color-azul;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: $spacing*2;
    a {
        color: $color-blanco-claro;
        font-size: .8rem;
        text-decoration: none;
        &:hover {
            color: white;
        }
        img {
            width: 30px;
        }
    }
}

@media screen and (min-width: 426px) {
    footer {
        a {
            font-size: 1rem;
        }
    }
}